* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

img {
    width: 50%;
    height: 50%;
}

#main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(74, 74, 136);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    height: 10vh;
    width: 100vw;
    background-color: aliceblue;
    margin-bottom: 2vh;
}

#pre-transpose {
    height: 15vh;
    display: flex;
    align-items: center;
}

#instrument-1 {
    height: 19vh;
    display: flex;
    align-items: center;
}

#chords {
    height: 10vh;
}

#instrument-2 {
    height: 19vh;
}

#post-transpose {
    height: 15vh;
}

#footer {
    height: 10vh;
    width: 100vw;
    background-color: aquamarine;
}

.keyboard {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.key {
    width: 10vw;
    height: 15vh;
    background-color: white;
    border: 1px solid black;
    color: lightgray;
    display: inline-block;
    text-align: center;
    line-height: 25vh;
    font-weight: bold;
    cursor: pointer;
}
.black-key {
    width: 6vw;
    height: 10vh;
    background-color: black;
    color: rgb(100, 100, 100);
    position: relative;
    line-height: 15vh;
    margin-left: -3vw;
    margin-right: -3vw;
    z-index: 1;
}

.highlight {
    background-color: yellow !important;
    color: black;
}

.chord-grid {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}

.chord-button {
    width: min(10vh, 12vw);
    height: min(10vh, 12vw);
    transition: transform 0.5s ease-in-out;
    border-radius: 5vw;
}

.fret {
    height: 10vh;
    width: 5vw;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.fret.hovered {
    background-color: rgb(197, 197, 197);
}